{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",

	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],

	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"^.*\\.css$",
		"<THIRD_PARTY_MODULES>",
		"^@/lib/.*$",
		"^@/schemas/.*$",
		"^@/components/.*$",
		"^@/app/.*$",
		"^@/.*$",
		"^\\..*$"
	],

	"tailwindFunctions": ["cn", "tw", "buttonVariants"]
}
